[Unit]
Description=Stalwart IMAP
ConditionPathExists=/usr/local/stalwart-imap/bin/stalwart-imap
After=network-online.target
 
[Service]
Type=simple
#User=stalwart-imap
#Group=stalwart-imap
LimitNOFILE=65536
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/stalwart-imap --config=/usr/local/stalwart-imap/etc/config.yml
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stalwart-imap
 
[Install]
WantedBy=multi-user.target
